@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    src: local('Gilroy'),
        url('../../../UI/fonts/Gilroy.woff') format('woff')
}


.skeletons div {
    margin-bottom: 60px;
}

.StarshipsContainer {
    background-color: #1e1e1e;
    padding: 0 80px 80px 80px;
    min-height: 100vh;
}

@media (max-width: 500px) {
    .StarshipsContainer {
        padding: 0 10px 20px 10px ;
    }

}

.ContainerImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.StarshipsContainer h1 {
    color: #E2F063;
    font-family: 'Gilroy';
    font-weight: 500;
    font-size: 70px;
    margin-top: 120px;
}

@media (max-width: 500px) {
    .StarshipsContainer h1 {
        font-size: 40px;
        margin-top: 60px;
    }

}

.articlePage {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.numberPages {
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
}

.numberPages:hover {
    background-color: #474747;
    transition: 0.3s ease-in-out;
}

.paginationDiv {
    display: flex;
    color: white;
    font-family: 'Gilroy';
    font-size: 24px;
}